
<%- include('partials/header') %>

<header>
  <h1>Sale Sharks season so far</h1>
  <p>Recap the journey to the first home semi-final since 2006!</p>
</header>
<% fixturesByMonth.forEach(monthData => { %>
  <div class="month-container"  data-aos="fade-up">
    <div class="month"><p><%= monthData.month %></p></div> 
    <div class="fixtures-container">
      <% monthData.fixtures.forEach((fixture, index) => { %>
        <div class="fixture" data-index="<%= index %>">
          <span><%= fixture.opponent %></span>
          <span style="margin-left:4px;"><%= fixture.home_score %></span>-
          <span><%= fixture.away_score %></span>
        </div>
      <% }); %>
    </div>
    <div class="details-container">
      <% monthData.fixtures.forEach((fixture, index) => { %>
        <div class="fixture-details" <% if (index !== 0) { %>style="display: none;"<% } %>>
          <p><%= fixture.report || "match report" %></p>
          <p class="fixture-heading"><span class="iconify" data-icon="fluent-mdl2:rugby"></span>Tries</p>
          <p><%= fixture.tries  %></p>
          <p class="fixture-heading"><span class="iconify" data-icon="game-icons:rugby-conversion"></span>Conversions</p>
          <p><%= fixture.conversions  %></p>
          <p class="fixture-heading"><span class="iconify" data-icon="mdi:people-group-outline"></span>Lineup</p>
          <p><%= fixture.lineup  %></p>
          <p class="fixture-heading"><span class="iconify" data-icon="fluent-mdl2:rugby"></span>Highlights</p>
          <p><%= fixture.highlights  %></p>
          <div class="fixture-buttons">
            <button><span class="iconify" data-icon="bi:hand-thumbs-up"></span>I was there</button>
            <button>Comments</button>
          </div>
        </div>        
      <% }); %>
    </div>
  </div>
<% }); %>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script><script src="/code.js"></script>